*{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    resize: none;
    font-family: arial;
}
.time{
    text-align: center;
}
#clock {
    color: white;
    margin-top: 27vh;
    font-weight: bold;
    font-size: 20vh;
}